div#main article section:nth-of-type(2) form.newF{
     font-size: 1rem;
     margin: 10px auto;
     /*  width: 250px;*/
 }
div#main article section:nth-of-type(2) form.new{
    font-size: 1rem;
    margin: 10px auto;
    width: 250px;
}
div#main article section:nth-of-type(2) form.newF div{
    position: relative;
}
div#main article section:nth-of-type(2) form.new div{
    position: relative;
}
div#main article section:nth-of-type(2) form.newF div.factcontent{
    float: left;
    width: 40%;
}
div#main article section:nth-of-type(2) form.newF div.children{
    float: right;
    width: 55%;
}
div#main article section:nth-of-type(2) form.newF div.tree_footer{
    float: left;
    width: 100%;
}
div#main article section:nth-of-type(2) form.newF div.tree_footer a{
   margin-left: 45%;
}

div#main article section:nth-of-type(2) form.newF div.factcontent label{
    padding-left: 40px;
}
div#main article section:nth-of-type(2) form.newF div.factcontent  input,div#main article section:nth-of-type(2) form.newF div.factcontent  select{
    position: absolute;
    right: 0;
    top: 10px;
    width: 60%;
}
div#main article section:nth-of-type(2) form.new input,div#main article section:nth-of-type(2) form.new select{
    position: absolute;
    right: 0;
    top: 10px;
    width: 60%;
}
div#main article section:nth-of-type(2) form.new div a {
    margin-left: 170px;
}
input[type="text"],select,a{
    border: 1px solid deepskyblue;
    border-radius: 5px;
    margin: 5px 10px;
    text-align: center;
}
ul a{
    border: none;
    border-radius: 0px;
}
input[type="text"]:active{
    box-shadow: 1px 1px 2px #eee;
}

#pro #pro_a{
    float: left;
    margin-left: 0px;
    font-size: 1em;
    display: inline;
    line-height: 1.2;
}
#pro #pro_b{
    float: right;
    margin-left: 0px;
    font-size: 1em;
    display: inline;
    line-height: 1.2;
}
section a{
    padding: 3px 30px;
    padding-right: 15px;
    background: #00b7ee url(/images/2.png) no-repeat left center;
    color: #fff;
}