
        <section>
            <h1>{{title}}</h1>
        </section>

        <section>
            <form class="newF">
                <input type="text"  ng-model = "action._id"  hidden="hidden"/>
                <div class="factcontent">
                    <div>
                        <label for="result">编号: </label>
                        <input type="text" name = "result" id = "result" ng-model = "action.result" />
                    </div>
                    <div ng-repeat="pro in action.problems">
                        <label for="node_name">问题节点: </label>
                        <select ng-model="pro.name">
                            <option ng-repeat="opt in p_opts" value="{{opt.title}}" sel111>{{opt.title}}</option>
                        </select>
                    </div>
                </div>
                <div class="children">
                    <trees>
                        <tree1 ng-repeat="item in action.branchs"></tree1>
                    </trees>
                </div>
                <div class="tree_footer">
                    <a  ng-click = "submit()">提交</a>
                </div>
            </form>
        </section>

        var fact = {
        "" : "123",
        "" : "1001",
        "problems":[{"name":"jack"},{"name":"robin"}],
        "branchs":[    {
        "reason" : "reason1" ,
        "actions" : [{"name":"action1"},{"name":"action2"}]
        },  {
        "reason" : "reason2" ,
        "actions" : [{"name":"action3"},{"name":"action4"}]
        }]
        };