<html>
<head>
</head>
<body>
  <form method="post" action="/action">
      id:<input type="text" name="id"/><br/>
      title:<input type="text" name="title"><br/>
      <input type="submit" name="ok"/>
  </form>
</body>
</html>